<div class="dashletContent">
    <div class="itemGridHeader">
      <div class="styleTitleHeader">
          <div>{{dataDirective.subtitle}}</div>
      </div>
      <div class="title-dashlet">
          {{ dataDirective.title }}
      </div>
      <div class="styleToolsHeader">
        <div>
          <div class="dateDashlet">
              Últimos 7 días
          </div>
          <div class="iconCalendar">
              <!-- <motum-calender (dateModification)="receivesModifiedDate($event)"  [star]="start" [end]="end" [ranges]="ranges"></motum-calender> -->
              <i class="motum-i tm-e925" aria-hidden="true" (click)="openMenu(this.menuDashlet)"></i>
          </div>
          <div class="iconMenuContext">
            <i class="motum-i tm-e915" aria-hidden="true" (click)="openMenu(this.menuDashlet)"></i>
          </div> 
        </div>
      </div>
    </div>
    <hr class="hrDashlet">

    <div *ngIf="dataDirective.type === 'card'">
      <div>
        <motum-dashlet-card *ngFor="let dataDashlet of dataDirective.dataCard"
          [dataCard]="dataDashlet"
          [colorHeader]="dataDirective.colorHeader">
        </motum-dashlet-card>

      </div>
    </div>
    <div *ngIf="dataDirective.type === 'pie'">
        <div class="titleChart">
          <span *ngIf="dataDirective.titleChart" class="total">Total: {{ dataDirective.titleChart }} Km</span>
          <span *ngIf="dataDirective.titleValues" class="value">{{ dataDirective.titleValues }} vehículos</span>
        </div>
        <div class="fuelIndicatorInfo">
          <div *ngIf="dataDirective.labelChar1"> 
            {{dataDirective.labelChar1}}<br><span class="font-medium">85(%)</span>
          </div>
          <div *ngIf="dataDirective.labelChar2"> 
              {{dataDirective.labelChar2}}<br><span class="font-medium">89.5 (km)</span>
          </div>
        </div>
        <div id="chart{{idChart}}" class="fuelIndicator"></div>
    </div>
    <div *ngIf="dataDirective.type === 'serial'">
        <div class="titleChart">
            <span *ngIf="dataDirective.titleChart" class="total">Total: {{ dataDirective.titleChart }} l</span>
            <span *ngIf="dataDirective.titleValues" class="value">{{ dataDirective.titleValues }} vehículos</span>
        </div>
        <div class="fuelIndicatorInfo">
          <div *ngIf="dataDirective.labelChar1">
            {{dataDirective.labelChar1}}<br><span class="font-medium">85(%)</span>
          </div>
          <div *ngIf="dataDirective.labelChar2">
              {{dataDirective.labelChar2}}<br><span class="font-medium">89.5 (km)</span>
          </div>
        </div>
        <div id="chart{{idChart}}" class="fuelIndicator"></div>
    </div>

    <div class="itemGridFooter">
      <div class="styleIconFooter">
        <div class="back">
            <i class="motum-i tm-e916" aria-hidden="true"></i>
        </div>
        <div class="home">
            <i class="motum-i tm-e917" aria-hidden="true"></i>
        </div>
        <div class="iconExpantFooter" (click)="dashletDetails()">
          <i class="motum-i tm-e9f0" aria-hidden="true" ></i>
        </div>
      </div>
    </div>
    
    <app-menu-dashlet 
        [reciveMenuDashlet]="menuDashlet" 
        [reciveItemMenu]="reciveItem" 
        (sendDeleteDashlet)="removeItem($event)">
      </app-menu-dashlet>
  </div>