<div class="tabColor" [style.background]="tabColor">

</div>
<div class="content">
    <div class="list">

            <div class="item" *ngFor="let data of alertData">
              
              <div class="iconAvatar">
                  <div class="iconCircle" [style.backgroundColor]="tabColor"> <span class="motum-i tm-e9bd icon"></span></div>
              </div>
             
              <div class="information">
                <div class="titleInf">
                  {{ data.title }} 
                </div>
                <div class="contentInf">
                   {{ data.economicNumber }}-{{ data.number }}-{{ data.date }}-{{ data.hour }}
                </div>
              </div>
              <div class="d-flex align-items-center d-flex justify-content-center hours">
                 <button class="solve" [style.background]="tabColor" >{{ solve | translate}}</button> 
              </div>
            </div>
            
    </div>
</div>
<div id="btnTabs1" class="footerContent">
    <button id="b1" class="logbook" (click)="alertsLogs()">{{ alertsLogbook | translate}}</button> 
    <button id="b1" class="solve">{{ solveAll | translate}}</button>
</div>