@import '../../sass/conf/conf';

.iconMenuEmpty{
    position: absolute;
    background-color: #131417;
    width: 47px;
    height: 100%;
}

.textMenu{
    width:133px;
    background-color: #191a1d;
}