<div class="filterSelection" >
        <div class="filters">
          Selección de flota
        </div>
        <span class="motum-i tm-close closeFS" (click)="closeFleetSelection()"></span>
      <hr class="hr-title">
      <div class="filterContent">
            componente de arbol
            <div class="section-footer">
                <!-- <button type="submit" class="btn btn-primary window-btn-size motum-btn cancel" (click)="closeFilterSelection()">Cancelar</button> -->
                <button type="submit" class="btn btn-primary window-btn-size motum-btn save" (click)="selectionFilteringOptions()">Aplicar</button>
            </div>
      </div>
</div>