<div class="row" >
    <div class="col-md-7 header">
      <div class="title">
        {{title}}
      </div>
      <div class="period">
        {{period}}
      </div>
    </div> 
    <div class="col-md-3">
      <img src="{{logoM}}" [style.width.%]="100" [style.height.px]="40" [style.marginTop.px]="3">
    </div>
</div>
<div class="row">
  <div class="col-md-7 section-header">
    <hr class="hr-header">
  </div>
  <div class="col-md-2 offset-md-3 section-header">
      <hr class="hr-header">
  </div>

</div>